body{font-family:$primary-font-family; font-size: $default-font-size;color:$primary-font-colour;}
h1,h2,h3,h4,h5{font-family:$heading-font-family;color:$primary-colour;}
h1{font-size:$heading-size}
h2{font-size:$heading-size*0.8}
h3{font-size:$heading-size*0.6}
h4{font-size:$heading-size*0.5}
h5{font-size:$heading-size*0.4}