$primary-colour:#xxxxxx !default;
$secondary-colour: #xxxxxx !default;
$success-color: #xxxxxx !default;
$warning-color: #xxxxxx !default;
$alert-color: #xxxxxx !default;
$light-gray: #xxxxxx !default;
$medium-gray: #xxxxxx !default;
$dark-gray: #xxxxxx !default;
$black: #000000 !default;
$white: #ffffff !default;
$primary-font-colour:#xxxxxx !default;
$primary-font-family: 'Roboto', Arial, sans-serif;
$heading-font-family: 'Roboto', Arial, sans-serif;
$default-font-size: 16px; 
$heading-size: 48px;