$primary-colour: #6C930F !default;
$secondary-colour: #93230f !default;
$success-color: #xxxxxx !default;
$warning-color: #xxxxxx !default;
$alert-color: #xxxxxx !default;
$light-gray: #cccccc !default;
$medium-gray: #999999 !default;
$dark-gray: #666666 !default;
$black: #000000 !default;
$white: #ffffff !default;
$primary-font-colour:#333333 !default;
$primary-font-family: 'Open Sans', Arial, sans-serif;
$heading-font-family: 'Montserrat', Arial, sans-serif;
$default-font-size: 16px; 
$heading-size: 48px;